
// Colours

$highlight: #EF5A8F;
$light: #B2DDF0;
$lighter: #EEE9CE;
$dark: #CF0067;
$darker: #9C004D;


// Typography

// $sans: 'Asap', Helvetica, Arial, sans-serif;
$sans: 'Varela Round', Helvetica, Arial, sans-serif;
$serif: 'Lora', Georgia, Times, serif;